.text-red{
    color: #E53935 !important;
}
.text-red-imp{
    color: #E53935 !important;
    font-weight: 900;
}
.text-blue{
    color: #03A9F4 !important;
}
.text-blue-imp{
    color: #03A9F4 !important;
    font-weight: 900;
}
.text-green{
    color: #00E676 !important;
}
.text-green-imp{
    color: #00E676 !important;
    font-weight: 900;
}