.boxes {
    display: inline-block;
    width: 140px;
    padding: 10px;
    -webkit-box-sizing: padding-box;
    box-sizing: padding-box;
}
.boxes textarea {
    -webkit-box-sizing: padding-box;
    box-sizing: padding-box;
    font-family: "Roboto";
    font-size: 0.9em;
    height: 32px;
    padding: 6px 0px;
    resize: none;
    text-align: center;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.text-red{
    color: #E53935 !important;
}
.text-red-imp{
    color: #E53935 !important;
    font-weight: 900;
}
.text-blue{
    color: #03A9F4 !important;
}
.text-blue-imp{
    color: #03A9F4 !important;
    font-weight: 900;
}
.text-green{
    color: #00E676 !important;
}
.text-green-imp{
    color: #00E676 !important;
    font-weight: 900;
}